* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--corDeFundo);
    
}

:root {
    --corPrincipal: #000;
    --corDeFundo: #E3D5CA;
    --corTeste: #D5BDAF;
    --corDeFundoContainer: #F5EBE0;
}